In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('updated_data.csv')

0      NaN
1       NY
2       CA
3       IL
4       TX
      ...
890     TX
891     AK
892     CO
893     TX
894     TX
Name: StateName, Length: 895, dtype: object

In [26]:
state_list = df.iloc[1:, :]['StateName'].unique()
print(state_list)
print(len(state_list))

['NY' 'CA' 'IL' 'TX' 'VA' 'PA' 'FL' 'GA' 'MA' 'AZ' 'MI' 'WA' 'MN' 'CO'
 'MD' 'MO' 'NC' 'OR' 'OH' 'NV' 'IN' 'TN' 'RI' 'WI' 'OK' 'KY' 'LA' 'UT'
 'CT' 'AL' 'HI' 'NE' 'SC' 'NM' 'ID' 'AR' 'IA' 'KS' 'MS' 'ME' 'NH' 'DE'
 'AK' 'NJ' 'SD' 'WV' 'ND' 'VT' 'MT' 'WY']
50

In [29]:
for state in state_list:
    print(state)
    print(df[df['StateName'] == state].iloc[:, -1:].max().to_string())

NY
2024-02-29    634651.292334
CA
2024-02-29    1.554128e+06
IL
2024-02-29    305231.331105
TX
2024-02-29    521046.113051
VA
2024-02-29    549546.676818
PA
2024-02-29    347370.638606
FL
2024-02-29    998246.086559
GA
2024-02-29    379657.987359
MA
2024-02-29    1.465743e+06
AZ
2024-02-29    615554.229965
MI
2024-02-29    381088.149036
WA
2024-02-29    719217.4244
MN
2024-02-29    363017.299326
CO
2024-02-29    1.266339e+06
MD
2024-02-29    461288.052313
MO
2024-02-29    294150.454456
NC
2024-02-29    588095.754124
OR
2024-02-29    664034.554488
OH
2024-02-29    302967.616001
NV
2024-02-29    653488.446566
IN
2024-02-29    286389.468027
TN
2024-02-29    432557.198872
RI
2024-02-29    454845.561141
WI
2024-02-29    386270.945164
OK
2024-02-29    229529.46084
KY
2024-02-29    284561.76687
LA
2024-02-29    235149.867475
UT
2024-02-29    1.058377e+06
CT
2024-02-29    596584.877393
AL
2024-02-29    368604.715679
HI
2024-02-29    1.020079e+06
NE
2024-02-29    279984.821174
SC
2024-02-29    509904.008599
NM
2024-02-29    536986.37529
ID
2024-02-29    920162.428064
AR
2024-02-29    328037.06209
IA
2024-02-29    361556.645438
KS
2024-02-29    296705.384063
MS
2024-02-29    316565.914325
ME
2024-02-29    495455.544875
NH
2024-02-29    462242.587442
DE
2024-02-29    406254.583528
AK
2024-02-29    470061.342604
NJ
2024-02-29    685885.952118
SD
2024-02-29    407541.657354
WV
2024-02-29    219092.283403
ND
2024-02-29    320990.101788
VT
2024-02-29    447660.045756
MT
2024-02-29    695221.172028
WY
2024-02-29    1.441041e+06

In [20]:
print(df['2024-02-29'].max())
print(df['2024-02-29'].min())

1554127.902273251
43735.44237207397

In [11]:
# getting the highest average home value in a city of a state (e.g. California)
print(df[df['StateName'] == 'CA'].iloc[:, -1:].max())

2024-02-29    1.554128e+06
dtype: float64