In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('updated_data.csv')

In [4]:
state_list = df.iloc[1:, :]['StateName'].unique()
print(state_list)
print(len(state_list))

['NY' 'CA' 'IL' 'TX' 'VA' 'PA' 'FL' 'GA' 'MA' 'AZ' 'MI' 'WA' 'MN' 'CO'
 'MD' 'MO' 'NC' 'OR' 'OH' 'NV' 'IN' 'TN' 'RI' 'WI' 'OK' 'KY' 'LA' 'UT'
 'CT' 'AL' 'HI' 'NE' 'SC' 'NM' 'ID' 'AR' 'IA' 'KS' 'MS' 'ME' 'NH' 'DE'
 'AK' 'NJ' 'SD' 'WV' 'ND' 'VT' 'MT' 'WY']
50

In [21]:
state_dict = {}
for state in state_list:
    print(state)
    # print(df[df['StateName'] == state].iloc[:, -1:].max().to_string())
    state_dict[state] = df[df['StateName'] == state].iloc[:]['2005-01-31'].max()
    print(state_dict[state])

NY
396866.7288284325
CA
610593.5505985613
IL
219433.7230249173
TX
185385.92093235083
VA
352273.4598360601
PA
194764.7606436204
FL
304687.60765283206
GA
178330.04481203225
MA
622281.5702589733
AZ
231307.66400792808
MI
239293.4550946272
WA
301171.94740360964
MN
232050.17844716468
CO
405973.9132084341
MD
328627.8270157463
MO
151609.3822987949
NC
304959.6902769693
OR
254248.79214463927
OH
149157.02067138348
NV
398181.376344284
IN
183096.68048887263
TN
160107.80929095738
RI
278804.71219541016
WI
199883.5067014671
OK
116657.60084857023
KY
147037.10306645356
LA
168911.6330938514
UT
190123.66014781757
CT
444734.4482893008
AL
168139.15797309522
HI
400301.7963070584
NE
147609.85209113007
SC
260884.5490117642
NM
276849.5125821322
ID
162568.42661529413
AR
144629.63106109115
IA
143368.57540858455
KS
139569.02964081537
MS
107095.83543721226
ME
240729.0586384562
NH
260253.34341506052
DE
247324.3933963437
AK
202556.99442677735
NJ
356174.38931004377
SD
nan
WV
137278.79818911257
ND
nan
VT
213349.86394486504
MT
nan
WY
165160.92860009306

In [18]:
state_dict

{'NY': 228035.5690640177,
 'CA': 600056.012096314,
 'IL': 146114.93321270973,
 'TX': 204662.1162148627,
 'VA': 279638.7827680059,
 'PA': 205346.70383631947,
 'FL': 361788.45803980937,
 'GA': 211110.1527777989,
 'MA': 655537.2061496453,
 'AZ': 355539.6014624146,
 'MI': 209521.19666958577,
 'WA': 450848.91893924057,
 'MN': 261960.11053961076,
 'CO': 582180.5158711262,
 'MD': 319280.0394100592,
 'MO': 195767.54688894225,
 'NC': 273496.59404784493,
 'OR': 428954.0843594091,
 'OH': 180218.96763680305,
 'NV': 416350.8443162653,
 'IN': 198561.46457166155,
 'TN': 252970.76816686025,
 'RI': 454845.56114058994,
 'WI': 264874.54091093445,
 'OK': 154601.6852898451,
 'KY': 175145.4764064962,
 'LA': 163432.08523457003,
 'UT': 501285.19689317327,
 'CT': 403493.56776202115,
 'AL': 202838.98491337147,
 'HI': 843048.6405472063,
 'NE': 221942.43127413397,
 'SC': 252396.08636329966,
 'NM': 248061.3818078323,
 'ID': 442152.1698862922,
 'AR': 156729.12914262564,
 'IA': 194237.94557123154,
 'KS': 170660.71780421434,
 'MS': 149921.46405055883,
 'ME': 334759.6116184786,
 'NH': 380781.4575143386,
 'DE': 373109.1251805504,
 'AK': 374997.5405596224,
 'NJ': 414183.1445456818,
 'SD': 275907.78676279035,
 'WV': 152671.16810279005,
 'ND': 255683.15445994007,
 'VT': 362663.02864086826,
 'MT': 465073.2630738943,
 'WY': 444183.39495107013}

In [6]:
print(df['2024-02-29'].max())
print(df['2024-02-29'].min())

1554127.902273251
43735.44237207397

In [7]:
# getting the highest average home value in a city of a state (e.g. California)
print(df[df['StateName'] == 'CA'].iloc[:, -1:].max())

2024-02-29    1.554128e+06
dtype: float64